@charset "UTF-8";
/*  */
/* --- reset --- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  margin: 0;
  padding: 0;
  border-color: transparent;
  cursor: pointer;
}

.client__link, .work__thumb, .contaсt__link {
  -webkit-transition: all 1500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 1500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn, .btn {
  display: inline-block;
  border-radius: 4px;
  font-family: inherit;
  text-align: center;
  font-family: inherit;
  color: #ffffff;
  background-color: red;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .btn:hover, .hero__btn:focus, .btn:focus {
  background-color: #188ce8;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: red;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* rotate */
@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes rotator {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
/* ANIMATE-BIBLIOTEK */
.my-element {
  /* display: inline-block; */
  margin: 0 0.5rem;
  /* referring directly to the animation's @keyframe declaration */
  /* animation: backOutDown; */
  -webkit-animation: fadeInRightBig;
          animation: fadeInRightBig;
  /* animate__backOutDown */
  -webkit-animation-duration: 3300ms;
          animation-duration: 3300ms; /* don't forget to set a duration! */
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-weight: 700;
  color: #212121;
}

.section-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: -10px;
  margin-top: -10px;
}

.social__item {
  margin-left: 10px;
  margin-top: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  -webkit-transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:focus, .social__link:hover {
  background-color: red;
  color: #ffffff;
}

.social__ico {
  fill: currentColor;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__part--dark {
  color: #000000;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.nav-list__item + .nav-list__item {
  margin-left: 50px;
}

.nav-list__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list__link:focus, .nav-list__link:hover {
  color: red;
}
.nav-list__link.current {
  color: red;
}
.nav-list__link.current::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: red;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contaсt__item + .contaсt__item {
  margin-left: 50px;
}

.contaсt__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}
.contaсt__link span {
  margin-left: 10px;
}
.contaсt__link:focus, .contaсt__link:hover {
  color: red;
}

.contaсt__ico {
  fill: currentColor;
}

.hero {
  max-width: 1200px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  /* background-image: linear-gradient(
     to right,
     rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)
  ); */
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0.2)), to(rgba(0, 0, 255, 0.1))), url(../images/hero-bg.jpg);
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0.2), rgba(0, 0, 255, 0.1)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  /* background-color: var(--hero-bg-color); */
  -webkit-perspective: 300px;
          perspective: 300px;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__btn {
  min-width: 216px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-animation-name: rotator;
          animation-name: rotator;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* animation-iteration-count: infinite; */
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.feature__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
}

.feature__item {
  margin-left: 30px;
  -ms-flex-preferred-size: calc(25% - 30px);
      flex-basis: calc(25% - 30px);
  -webkit-perspective: 800px;
          perspective: 800px;
}
.feature__item:before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-animation-name: rotator;
          animation-name: rotator;
  -webkit-animation-duration: 10050ms;
          animation-duration: 10050ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.feature__item:nth-child(1)::before {
  background-image: url(../images/icons/feature01.svg);
}
.feature__item:nth-child(2)::before {
  background-image: url(../images/icons/feature02.svg);
}
.feature__item:nth-child(3)::before {
  background-image: url(../images/icons/feature03.svg);
}
.feature__item:nth-child(4)::before {
  background-image: url(../images/icons/feature04.svg);
}

.feature__descr {
  padding-top: 30px;
}

.feature__subtitle {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature__text {
  margin-top: 10px;
}

.work__list {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work__item {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.work__thumb {
  position: relative;
  opacity: 0.3;
  -webkit-transform: rotateY(45deg);
          transform: rotateY(45deg);
}
.work__item:hover .work__thumb {
  opacity: 1;
  -webkit-transform: rotateY(720deg);
          transform: rotateY(720deg);
}

.thumb__txt {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  padding: 27px 0 27px;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.42px;
  line-height: 1.14;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-left: -30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team__item {
  -ms-flex-preferred-size: calc(25% - 30px);
      flex-basis: calc(25% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30px;
  margin-top: 30px;
  padding-bottom: 30px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706), 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706), 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.member__dscr {
  margin-top: 30px;
  text-align: center;
}

.member__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  word-break: break-all;
}

.member__text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.member__social {
  margin-top: 16px;
  margin-left: 32px;
  margin-right: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  outline: 1px solid teal;
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-top: 20px;
  margin-left: -30px;
}

.client__item {
  -ms-flex-preferred-size: calc(16.6666666667% - 30px);
      flex-basis: calc(16.6666666667% - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  -webkit-transition: scale 20ms linear;
  transition: scale 20ms linear;
}
.client__link:focus, .client__link:hover {
  color: red;
  border-color: red;
  scale: 1.02;
}

.client__ico {
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */