.social {
  @include flexFull($just: space-between);

  // align-items: center;

  padding-left: 20px;
  padding-right: 20px;
  row-gap: 10px;

  flex-wrap: wrap;
  margin-top: 16px;
  padding-left: 32px;
  padding-right: 32px;

  flex-grow: 1;
  align-items: flex-end;
}

.social__item {
  &:not:first-child {
    margin-left: 10px;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: $soc-link;

  &:focus,
  &:hover {
    background-color: $color-accent;
    color: $color-text-white;
  }

  // outline: 1px solid;
}

.social__ico {
  fill: currentColor;
}
