//

.team {
  background-color: $bg-second-color;
}

.team__list {
  display: flex;

  margin-top: 20px;
  margin-left: -30px;

  flex-wrap: wrap;
  // outline: 1px solid red;
}
.team__item {
  flex-basis: calc(100% / 4 - 30px);

  // fixed нереполнение
  display: flex;
  flex-direction: column;
  // justify-content: space-between;

  margin-left: 30px;
  margin-top: 30px;
  padding-bottom: 30px;

  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;

  box-shadow: 0px 3px 3px rgba(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgba(0 0 0 / 20%);

  // outline: 1px solid;
}

.member__dscr {
  margin-top: 30px;
  text-align: center;

  // outline: 1px solid;
}
.member__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  word-break: break-all;
}

.member__text {
  margin-top: 10px;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.soc-wrap {
  outline: 1px solid red;
}
