:root {
   /* COLOR */

   --prime-text-color: #757575;
   --second-text-color: #212121;
   --white-text-color: #ffffff;
   --prime-bg-color: #ffffff;
   --second-bg-color: #f5f4fa;
   --hero-bg-color: #c4c4c4;
   --dark-bg-color: #2f303a;
   --accent-color: #2196f3;
   --btn-active-color: #188ce8;
   --logo-dark-color: #000000;
   --footer-link-color: rgba(255, 255, 255, 0.6);
   --footer-link-bg: rgba(255, 255, 255, 0.1);
   --second-bg-color: #f5f5f5;
   --svg-prime-color: #afb1b8;
   --close-color: #000000;
   --placeholder-color: rgba(117, 117, 117, 0.5);
   /* --form-comment-color: rgba(117, 117, 117, 0.5); */

   --cubic-function: cubic-bezier(0.4, 0, 0.2, 1);

   /* --btn-bg-filter: #F5F4FA; */
}

body {
   /* box-sizing: border-box; */

   background-color: var(--prime-bg-color);
   color: var(--prime-text-color);
   font-family: 'Roboto', sans-serif;

   font-weight: 400;
   font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.42px;
}

/* === COMMON === */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   padding: 0;
}

ul {
   margin: 0;
   padding: 0;
}

img {
   display: block;
   max-width: 100%;
}
/* ----------- */
.container {
   width: 1200px;
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;

   outline: 1px solid tomato;
}

.section {
   padding-top: 94px;
   padding-bottom: 94px;
}

.no-padding {
   padding-top: 0;
}

.link {
   text-decoration: none;
}

.list {
   list-style: none;
}

.btn {
   border-radius: 4px;
   font-family: inherit;

   text-align: center;
   font-family: inherit;
   font-size: 16px;
   font-weight: 700;
   line-height: 1.88; /* 187.5% */
   letter-spacing: 0.96px;

   color: var(--white-text-color);
   background-color: var(--accent-color);
   cursor: pointer;
   border: 1px solid transparent;

   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

   transition: background-color 250ms var(--cubic-function);
}

.btn:hover,
.btn:focus {
   background-color: var(--btn-active-color);
}

.title {
   color: var(--second-text-color);
}
.section-title {
   text-align: center;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.17;
}

.visually-hidden {
   position: fixed;
   transform: scale(0);
}
/* ------------------ */
