//
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $bg-dark-color;
}

.footer__wrapper {
  // display: flex;

  //
  @include flexFull($align: baseline);
}

.footer__item {
  flex-grow: 1;
  & + & {
    margin-left: 93px;

    outline: 1px solid red;
  }

  & > * {
    margin-top: 20px;
  }
}

//  ======= FOOTER-LOGO ===

// ======== FOOTER-SUBSCRIBE
