//
.title {
  font-weight: 700;

  color: $color-second;
}
.section-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
}

.footer-title {
  // font-weight: 700;
  color: $color-text-white;
  text-transform: uppercase;
}
