.social {
  @include flexFull($just: space-between);
  // column-gap: 10px;
  // row-gap: 10px;
  flex-wrap: wrap;

  // flex-grid
  justify-content: flex-start;
  margin-left: -10px;
  margin-top: -10px;
}

.social__item {
  // &:not:first-child {
  //   margin-left: 10px;
  // }

  // flex-grid
  margin-left: 10px;
  margin-top: 10px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  color: $soc-link;
  border-radius: 50%;

  // transition: background-color 250ms $cubic-function,
  //   color 250ms $cubic-function;

  transition: all $trans;

  &:focus,
  &:hover {
    background-color: $color-accent;
    color: $color-text-white;
  }
}

.social__ico {
  fill: currentColor;
}
