.social {
  @include flexFull($just: space-between);
  // column-gap: 10px;
  // row-gap: 10px;
  flex-wrap: wrap;

  // flex-grid
  justify-content: flex-start;
  margin-left: -10px;
  margin-top: -10px;
}

// ----> SOCIAL in FOOTER ==>
.social--dark {
  & .social__link {
    color: $color-text-white;
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.social__item {
  // flex-grid
  margin-left: 10px;
  margin-top: 10px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  color: $soc-link;
  border-radius: 50%;

  // transition: background-color 250ms $cubic-function,
  //   color 250ms $cubic-function;

  @extend %transition;

  &:focus,
  &:hover {
    background-color: $color-accent;
    color: $color-text-white;
  }
}

.social__ico {
  // alternative parent->
  // margin: auto;

  fill: currentColor;
}
