%transition {
  transition: all 300ms $flexible;
}

%flex-aling-center {
  display: flex;
  align-items: center;
}

%btn {
  display: inline-block;
  border-radius: 4px;
  font-family: inherit;

  text-align: center;
  font-family: inherit;

  color: $color-text-white;
  background-color: $color-accent;
  border: 1px solid transparent;

  cursor: pointer;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  transition: background-color 1250ms $cubic-function;
  &:hover,
  &:focus {
    background-color: $btn-active-color;
  }
}

%logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: $color-accent;
}

%outline {
  outline: 1px solid teal;
}
