// ===== COLOR-SCSS-VARS =====
$color-main: #757575;
$color-second: #212121;
// $color-accent: #2196f3;

$color-accent: red;

$color-logo-dark: #000000;
$color-placeholder: rgba(117, 117, 117, 0.5);
// $color-overlay: rgba(33, 150, 243, 0.9);
$color-hero-title: #ffffff;

$color-text-btn: #ffffff;
$color-footer-link: rgba(255, 255, 255, 0.6);

// BG
$bg-main-color: #ffffff;
$bg-second-color: #f5f4fa;
$bg-dark-color: #2f303a;
//
$border-header: #ececec;
$btn-close-border: rgba(0, 0, 0, 0.1);
$btn-active-color: #188ce8;

$soc-ico: #afb1b8;
$client-ico: #afb1b8;
$btn-close-ico: #000000;

// TRANSITION
$cubic-function: cubic-bezier(0.4, 0, 0.2, 1);
