//

.client__list {
  display: flex;
  margin-top: 50px;
  // flex-grid
  margin-top: 20px;
  margin-left: -30px;
}

.client__item {
  flex-basis: calc(100% / 6 - 30px);
  //   outline: 1px solid;
  margin-top: 30px;
  margin-left: 30px;
}

.client__link {
  display: flex;
  width: 170px;
  height: 92px;

  // Position FROM flex=>
  & .client__ico {
    margin: auto;
  }
  // --->>>> вместо свойств ==>
  //   justify-content: center;
  //   align-items: center;
  color: $client-ico;
  border: 1px solid $client-ico;

  @extend %transition;
  // transition: scale 20ms linear;

  &:focus,
  &:hover {
    color: $color-accent;
    border-color: $color-accent;
    //
    background-color: $client-ico;
    scale: 1.06;
  }
}

.client__ico {
  fill: currentColor;
}
